.subscribe {
    padding: 2rem;
    border-radius: 8px;
    max-width: 570px;
    background-color: #1D1C31;
    color: rgba(255, 255, 255, 0.6);

    &__form {
        display: flex;
        flex-direction: column;
        gap: $gap-medium;
        padding: $padding-medium 0;

        &-grouped{
            display: flex;
            justify-content: space-between;
        }
        &-input {
            max-width: 30rem;
            border: 0;
            border-bottom: 1px solid $color-text-body;
            transition: all 0.2s ease-in-out;

            &:focus {
                outline: none;
                border-color: $primary;
            }
        }

        &-button {
            max-width: 9rem;
            align-self: flex-start;
            background-color: $white;
            color: $black;
        }
    }
}
