

/// @alias element
@mixin e($element) {
    @include element($element) {
        @content;
    }
}

/// @alias modifier
@mixin m($modifier) {
    @include modifier($modifier) {
        @content;
    }
}


// reset list styles
@mixin resetListStyles {
    list-style: none;
    padding: 0;
    margin: 0;
}
